/*************************************************************
Feuille de style template 01

Sommaire :
    1. Layout général
    2. Utilitaire
    3. Style du header
    4. Slider
    5. Featured articles
    6. From The blog & Article
***************************************************************/

/*------------------------------------------------*\

    1. Layout général

\*------------------------------------------------*/

/* Harmonisation du box model CSS */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 2;
    background-color: #e7e9eb;

}

div.container {
    width: 960px;  /* taille fixe à 960px */
    margin: 0 auto; /* Je centre le contenu */
}

h2,
h3 {
    font-family: Georgia, serif;
    font-weight: normal;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

blockquote {
    font-family: Georgia, serif;
    text-align: left;
    font-style: italic;
    color: #aaa;
    margin: 0;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 1);

}

.read-more {
    box-shadow: inset 3px 3px 9px 0px rgba(98,113,128,0.75);
    background-color: #b2b9bd;
    border-radius: 5px;
    padding: 0.5em 1em;
    display: inline-block;
    text-decoration: none;
    font-style: italic;
    color: white;
    text-align: center;
    text-shadow: -1px -1px 1px rgba(134, 148, 155, 1);
}

/*------------------------------------------------*\

    2. Utilitaires

\*------------------------------------------------*/

.hidden {
    display: none;
    visibility: hidden;
}

/**---- gestion du float http://fr.learnlayout.com/clearfix.html ---**/
.clearfix {
    overflow: auto;
    zoom: 1;
}

.one-half {
    width: 50%;
    float: left;
}

.one-third {
    width: 33.33%;
    float: left;
}

.two-third {
    width: 66.66%;
    float: left;
}

.text-right {
    text-align: right;
}



/*------------------------------------------------*\

    3. Style du header

\*------------------------------------------------*/

form {
    float: right;
}

input {
    box-shadow: inset 3px 3px 9px 0px rgba(98, 113, 128, 0.1);
    border-radius : 5px;
    padding: .7em 1em;
    background-color: #d6d9dd;
    font-style: italic;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-right: none;
    color: #7d8990;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 1);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #7d8990;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 1);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #7d8990;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 1);
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #7d8990;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 1);
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #7d8990;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 1);
}
/**---- Titre du site ---**/

h1 {
    color: #666;
    font-weight: bold;
    font-size: 4em;
    display: inline-block;
    vertical-align: baseline;
}

h1 em {
    font-weight: normal;
}

h1 span {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: italic;
    font-size: .5em;
    vertical-align: middle;
}

h1 span.separator {
    color: #ccc;
    font-size: 1em;
    font-style: normal;
}

/**---- Navigation principale ---**/

#primary-nav {
    height: 2.8em;
    border: 1px solid #c7ced1;
    background-color: #f3f4f5;
}

#primary-nav ul {
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary-nav ul a {
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
}

#primary-nav > ul > li {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #c7ced1;
}

#primary-nav ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary-nav ul li.current-menu-item,
#primary-nav ul li:hover {
    background:#e8ebec;
}

#primary-nav > ul > li:hover {
    padding-bottom: 1px;
}

#primary-nav > ul > ul > li {
    background:#f6f6f6;
}

#primary-nav ul ul li:hover {
    background:#d6dadd;
}

#primary-nav ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#e8ebec;
    padding:0;
    border-left: 1px solid #fff;
    border-right: 1px solid #c7ced1;
    box-shadow: 3px 3px 16px 0px rgba(190,192,194,0.8);
}

#primary-nav ul ul li {
    float:none;
    width:200px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #c7ced1;
}

#primary-nav ul ul a {
    line-height:120%;
    padding:10px 15px
}

#primary-nav ul li:hover > ul {
    display:block;
    margin-left: -1px;
    z-index: 500;
}



/*------------------------------------------------*\

    4. Slider

\*------------------------------------------------*/

#main-slider {
    padding: 1em 3em;
    position: relative;
}

/**---- style général de toutes les listes du slider ---**/

#main-slider ul,
#main-slider li {
    list-style: none;
    list-style-position: inside;
    margin: 0 0 0 -20px;
}

/**---- Flèche de navigation du slider ---**/

#previous-slide,
#next-slide {
    position: absolute;
    top: 50%;
}

#next-slide {
    right: 0;
}

#previous-slide {
    left: 0;
}

/**---- Icônes de navigation du slider ---**/

#slides-nav {
    position: absolute;
    left: 45%;
}

#slides-nav li {
    display: inline-block;

}

#slides-nav img,
#slides-nav a {
    width: 25px;
    height: 25px;
    padding: 0.5em;
}


#main-slider h2{
    margin-bottom: 0;
}

.slides a {
    width: 120px;
    text-align: left;
}

/*------------------------------------------------*\

    5. Featured articles

\*------------------------------------------------*/

#featured-articles article {
    padding: 0 20px 0 50px;
}

#featured-articles h3 {
    position: relative;
    margin-bottom: 0;
}

#featured-articles img {
    position: absolute;
    left: -50px;
}

/*------------------------------------------------*\

    6. From The blog & Article

\*------------------------------------------------*/


/**---- style de l'article ---**/

#others-articles article img {
    float: left;
    margin: 0 1em 1em 0;
    width: 150px;
    height: 150px;
    box-shadow: 3px 3px 19px -5px rgba(0,0,0,0.44);
}

#others-articles article p {
    padding-right: 4em;
}


/**---- style de la mini nav ---**/

.tabs ul {
    display:table;
    width: 100%;
    margin:0 0;
    -webkit-padding-start:0px; /* reset chrome default */
    list-style: none;
}

.tabs ul li {
    width: 33.33%;
    display:table-cell;
    /*    padding:15px 5px;*/
    text-align: center;
    background-color:#f3f4f5;
    border-bottom: 1px solid #c7ced1;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #c7ced1;
    list-style: none;

}

.tabs ul li.current {
    background-color: #e8ebec;
    position: relative;

}

/**---- style des bordures de la mini nav ---**/

.tabs ul li.current::after,
.tabs ul li.current::before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tabs ul li.current::after {
    border-color: rgba(232, 235, 236, 0);
    border-top-color: #e8ebec;
    border-width: 10px;
    margin-left: -10px;
}
.tabs ul li.current::before {
    border-color: rgba(199, 206, 209, 0);
    border-top-color: #c7ced1;
    border-width: 11px;
    margin-left: -11px;
}

.tabs ul li a {
    color:#333;
    text-decoration:none;
    padding:10px 0px;
    display: block;
}

/**---- style du contenu de la mini nav ---**/

#others-articles h3 {
    padding-left: 25px;
    margin: 0.5em 0;
}

.tab-content ul {
    list-style: none;
}

.tab-content ul li{
    line-height: 6px;
    padding: 1em 0 1em 0.5em;
    position: relative;

}

.tab-content ul li a {
    text-decoration: none;
    color: #333;

}

.tab-content ul li::before {
    background-image: url(images/bullet.png);
    background-position: 50% 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    top: 5px;
    left: -20px;
}
