/*************************************************************
Feuille de style template 01

Sommaire :
    1. Layout général
    2. Utilitaire
    3. Style du header
    4. Slider
***************************************************************/

/*------------------------------------------------*\

    1. Layout général

\*------------------------------------------------*/


body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 1.8;
    background-color: #e7e9eb;

}

div.container {
    width: 960px;  /* taille fixe à 960px */
    margin: 0 auto; /* Je centre le contenu */
}

h2,
h3 {
    font-family: Georgia, serif;
    font-weight: normal;
}

h2 {
    font-size: 2.5em;
}

blockquote {
    font-family: Georgia, serif;
    text-align: left;
    font-style: italic;
    color: #aaa;
    margin: 0;

}

.read-more {
    box-shadow: inset 10px 10px 3px -8px rgba(102,102,102,0.5);
    background-color: #b2b9bd;
    border-radius: 5px;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    font-style: italic;
    color: white;
    text-align: center;

}

/*------------------------------------------------*\

    2. Utilitaires

\*------------------------------------------------*/

.hidden {
    display: none;
    visibility: hidden;
}

/**---- gestion du float http://fr.learnlayout.com/clearfix.html ---**/
.clearfix {
  overflow: auto;
  zoom: 1;
}

.one-half {
    width: 50%;
    float: left;
}

.text-right {
    text-align: right;
}



/*------------------------------------------------*\

    3. Style du header

\*------------------------------------------------*/

form {
    float: right;
}

/**---- Titre du site ---**/

h1 {
    color: #666;
    font-weight: bold;
    font-size: 4em;
    display: inline-block;
    vertical-align: baseline;
}

h1 em {
    font-weight: normal;
}

h1 span {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: italic;
    font-size: .5em;
    vertical-align: middle;
}

h1 span.separator {
    color: #ccc;
    font-size: 1em;
    font-style: normal;
}

/**---- Navigation principale ---**/

#primary-nav {
    height: 3em;
}

#primary-nav ul {
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#primary-nav ul a{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
}

#primary-nav ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#primary-nav ul li.current {
    background-color: #ddd;
}

#primary-nav ul li:hover {
    background-color: #f6f6f6;
}

#primary-nav ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0;
}

#primary-nav ul ul li {
    float:none;
    width:200px;
}

#primary-nav ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#primary-nav ul li:hover > ul {
    display:block;
    z-index: 500;
}

/*------------------------------------------------*\

    4. Slider

\*------------------------------------------------*/

#main-slider {
    padding: 1em 3em;
    position: relative;
}

/**---- style général de toutes les listes du slider ---**/

#main-slider ul,
#main-slider li {
    list-style: none;
    list-style-position: inside;
    margin: 0 0 0 -20px;
}

/**---- Flèche de navigation du slider ---**/

#previous-slide,
#next-slide {
    position: absolute;
    top: 50%;
}

#next-slide {
    right: 0;
}

#previous-slide {
    left: 0;
}

/**---- Icônes de navigation du slider ---**/

#slides-nav {
    position: absolute;
    left: 45%;
}

#slides-nav li {
    display: inline-block;

}

#slides-nav img,
#slides-nav a {
    width: 14px;
    height: 14px;
    padding: 0.5em;
}

/**---- style d'une slide ---**/

#main-slider h2{
    margin-bottom: 0;
}

.slides a {
    width: 120px;
    text-align: left;
}

h3{}

ul li {}

.slides{}

.current{}

.hidden{}

.slides-nav{}


.tabs{}
#main-slider{}

#next-slide{}

#previous-slide{}

#featured-articles{}

#others-articles{}

#recent{}

#popular{}

#random{}
